@import url(Style.css);
@import url(Menu.css);

.Home {
    background-image: url(../assets/Fundo.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 1em;
    width: 60%;
    font-size: 17px;
}

.boas_vindas {
    background-color: var(--cor-fontebranca);
    width: 100%;
    padding: 1em;
    border-radius: 12px;
}

.boas_vindas span {
    font-weight: 700;
}

.principal {
    background-color: var(--cor-fontebranca);
    width: 100%;
    border-radius: 12px;
}

.principal p {
    padding: 1em;
}

.admin {
    color: var(--cor-websalmao);
    font-weight: 700;
}

@media screen and (min-width:1728px) {
    section {
        gap: 3em;
        width: 64%;
    }

    .boas_vindas {
        padding: 3em;
    }

    .principal p {
        padding: 3em;
    }

    .principal img {
        width: 50%;
    }
}