@import url(Style.css);

.Home {
    background-image: url(../assets/fundo.png);
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    flex-direction: row;
}

aside {
    background-color: var(--cor-principal);
    color: var(--cor-fontebranca);
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 15%;
    height: 100vh;
}

.WSLogo {
    width: 70%;
}

.menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    gap: 5px;
    margin-bottom: 100%;
}

.menu_logo {
    width: 12%;
}

.menu_botao {
    font-family: var(--fonte-principal);
    color: var(--cor-fontebranca);
    display: flex;
    padding: .3em .3em .3em .5em;
    border-bottom: 1px solid #000;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.menu_botao:checked~.menu li {
    display: block;
}

.menu li {
    padding: .2em;
    padding-left: 1em;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    background-color: var(--cor-secundaria);
    list-style-type: none;
    display: none;
}

.botao_sair {
    background-color: var(--cor-websalmao);
    font-family: var(--fonte-principal);
    color: var(--cor-fontebranca);
    box-sizing: border-box;
    border: 4px solid var(--cor-websalmao);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    width: 50%;
    padding: .5em;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: .5em;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.botao_sair:hover {
    background-color: var(--cor-principal);
    transition: .5s;
}