@import url(/css/Style.css);
@import url(/css/Paginas/Menu.css);
@import url(/css/datatables.css);

main {
    background-image: url(/assets/Fundo.png);
    background-size: cover;
    color: var(--cor-fontebranca);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
}

.WSLogo {
    width: 73.4%;
}

.botao_sair {
    width: 50%;
}

.botao_voltar {
    position: absolute;
    margin-bottom: 52em;
    margin-left: 14.5em;
    transition: .4s;
}

.botao_voltar img:hover {
    scale: 1.1;
    transition: .4s;
}

.listagem {
    position: relative;
    left: 21%;
    background-color: var(--principal-rgba);
    color: var(--cor-fontebranca);
    width: 71em;
    height: 62em;
    padding: 1.5em 2em .5em 2em;
    align-items: center;
    margin-top: 1em;
    border-radius: 20px;
    border: 5px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo_listagem {
    font-size: 23px;
    width: 100%;
    gap: 100px;
}

.titulo_listagem h1 {
    padding: .1em;
}

.listagem hr {
    border-width: 0.1em;
    border-color: var(--cor-fontebranca);
    border-style: solid;
    border-radius: 5px;
}

.container {
    background-color: var(--cor-principal);
    border: 3px solid #fff;
    border-radius: 20px;
    width: 100%;
    height: 54em;
    display: flex;
    flex-direction: column;
}

.listagem_tabela {
    background-color: var(--cor-principal);
    border: 3px solid var(--cor-fontebranca);
    width: 40em;
    height: auto;
    margin: auto;
    margin-top: 1.5em;
}

.listagem_tabela h1 {
    text-align: center;
    margin-top: .5em;
}

.dt-length {
    display: none;
}

.cabecalho {
    border-top: 4px solid var(--cor-fontebranca);
    font-size: 17px;
    width: 100%;
    height: 34em;
    display: flex;
    gap: 1em;
    margin: 1em 0;
    padding-top: 1em;
}

.cabecalho-cliente, .cabecalho-fornecedor {
    border: 4px solid var(--cor-fontebranca);
    border-radius: 20px;
}

.cabecalho p {
    padding: .2em 0;
}

.cabecalho-cliente h2, .cabecalho-fornecedor h2 {
    margin: 0 0 .1em 7em;
}

.cabecalho-cliente-info, .cabecalho-fornecedor-info {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 0 .6em;
} 

.cabecalho-endereco {
    display: flex;
}

@media screen and (min-width:1728px) {
    .botao_voltar {
        margin-bottom: 55em;
        margin-left: 23em;
    }

    .listagem {
        left: 29%;
    }

    .sidebar {
        width: 18em;
    }

    .WSLogo {
        width: 67%;
    }

    .botao_sair {
        width: 50%;
    }

}