@import url(../Style.css);

main {
    background-image: url(/assets/Acesso.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.WSlogo {
    position: absolute;
    margin-bottom: 35%;
}

.principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 1%;
    text-align: center;
    width: 34%;
    height: 42%;
    border-radius: 20px;
}

.title {
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.text_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_content span {
    color: var(--cor-websalmao);
    font-weight: 700;
}

.botao_acessar {
    background-color: var(--cor-websalmao);
    font-family: var(--fonte-principal);
    color: var(--cor-fontebranca);
    box-sizing: border-box;
    width: 40%;
    font-size: 18px;
    font-weight: 700;
    padding: 0.7em;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    margin-top: 1em;
}

.botao_acessar:hover {
    background-color: var(--cor-webazul);
    transition: .4s;
}

.copyright {
    font-size: .9rem;
}

@media screen and (min-width:1728px) {
    .WSlogo {
        width: 10%;
    }
    .principal {
        width: 29%;
        height: 33%;
    }
}