@import url(/css/Style.css);

.sidebar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: var(--cor-principal);
}

.WSLogo {
    top: 0;
    position: absolute;
    width: 11%
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 47%;
    gap: 5px;
    margin-bottom: 10%;
    list-style-type: none;
}

.menu_botao {
    position: relative;
    font-family: var(--fonte-principal);
    color: var(--cor-fontebranca);
    display: flex;
    padding: .4em .3em .4em .5em;
    border-bottom: 1px solid #000;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.menu_logo {
    width: 11%;
}

.menu_logo-home {
    width: 13%;
}

.menu_vector {
    margin-right: .5em;
    position: absolute;
    right: 0;
    transition: 0.5s ease;
}

.menu_item.active .menu_vector {
    transform: rotate(-180deg); /* Rotaciona 90 graus quando a classe active é aplicada */
}

.menu_options {
    display: none;
    text-decoration: none;
}

.menu_options li, .menu_options li a {
    padding: .4em;
    padding-left: 2em;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    background-color: var(--cor-secundaria);
    color: var(--cor-fontebranca);
    text-decoration: none;
}

.menu_options a  {
    text-decoration: none;
}

.botao_sair {
    position: absolute;
    bottom: 0;
    background-color: var(--cor-websalmao);
    color: var(--cor-fontebranca);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    width: 8%;
    padding: .5em;
    text-decoration: none;
    margin-bottom: 1em;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.botao_sair:hover {
    background-color: var(--cor-webazul);
    transition: .5s;
}

@media screen and (min-width:1728px) {
    .sidebar {
        width: 15%;
    }

    .WSLogo {
        width: 10%;
    }

    .menu_options li, .menu_options li a {
        padding: .4em;
        padding-left: 2em;
    }

    .botao_sair {
        width: 6%;
        bottom: 2em;
    }
}