@import url(/css/Style.css);
@import url(/css/Paginas/Menu.css);
@import url(/css/datatables.css);

main {
    background-image: url(/assets/Fundo.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botao_voltar {
    position: absolute;
    margin-bottom: 40em;
    margin-left: 18em;
    transition: .4s;
}

.botao_voltar img:hover {
    scale: 1.1;
    transition: .4s;
}

.visualizar {
    background-color: var(--principal-rgba);
    color: var(--cor-fontebranca);
    width: 55em;
    height: 40em;
    padding: 1.5em 2em .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #fff;
}

.titulo_visualizar {
    font-size: 23px;
    width: 100%;
}

.info {
    width: 100%;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}

.show_fornecedor, .show_relacionamento {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.visualizar hr {
    border-width: 0.1em;
    border-color: var(--cor-fontebranca);
    border-style: solid;
    border-radius: 5px;
}

.listagem_tabela {
    background-color: var(--cor-principal);
    border: 3px solid #fff;
    width: 50em;
    height: 27em;
    margin-top: .1em;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.botao_concluir {
    background-color: var(--cor-websalmao);
    color: var(--cor-fontebranca);
    border-color: var(--cor-websalmao);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    padding: 0.5em;
    width: 15%;
    margin-left: 37.5em;
}

.botao_concluir:hover{
    background-color: var(--cor-webazul);
    border-color: var(--cor-webazul);
    transition: .4s;
}

@media screen and (min-width:1728px) {
    .botao_voltar {
        margin-bottom: 53em;
        margin-left: 23em;
    }

    .visualizar {
        width: 60em;
    }

    .listagem_tabela {
        width: 55em;
    }
}