@import url(/css/Style.css);
@import url(/css/Paginas/Menu.css);
@import url(/css/datatables.css);

main {
    background-image: url(/assets/Fundo.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cor-fontebranca);
}

.geral {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
}

.timeline {
    width: 50em;
    margin: auto;
}

.cadastro {
    background-color: var(--principal-rgba);
    width: 55em;
    height: 36em;
    padding: 1.5em 2em .4em 2em;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #fff;
    display: flex;
    flex-direction: column;
}

.titulo_cadastro {
    color: var(--cor-fontebranca);
    font-size: 23px;
    width: 100%;
    gap: 100px;
}

.titulo_cadastro h1 {
    padding: .1em;
}

.cadastro hr {
    border-width: 0.1em;
    border-color: var(--cor-fontebranca);
    border-style: solid;
    border-radius: 5px;
}

.show_fornecedor {
    display: flex;
    align-items: start;
    gap: .4em;
    margin-right: 30em;
    padding: 1em;
}

.listagem_tabela {
    background-color: var(--cor-principal);
    border: 3px solid #fff;
    width: 50em;
    height: 22.1em;
    margin-top: .1em;
}

.listagem_tabela h1 {
    text-align: center;
    margin-top: .5em;
}

.dt-length {
    display: none;
}

.listagem_tabela input {
    border-radius: 0;
    padding: .5em;
    text-align: center;
}

.botoes {
    display: flex;
    gap: 40em;
    padding: .5em 2em  0 2em;
    align-items: center;
}

.back_button {
    background-color: var(--cor-websalmao);
    padding: 1em;
    border-radius: 50px;
}

.botao_cadastrar {
    background-color: var(--cor-websalmao);
    color: var(--cor-fontebranca);
    border-color: var(--cor-websalmao);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    padding: 0.6em;
    width: 100%;
}

.botao_cadastrar:hover{
    background-color: var(--cor-webazul);
    border-color: var(--cor-webazul);
    transition: .4s;
}

@media screen and (min-width:1728px) {
    /* .formulario {
        width: 65em;
        height: 45em;
    }

    .formulario hr {
        border-width: .2em;
    }

    .titulo_formulario hr {
        border-width: .1em;
    }

    .cadastro input {
        height: 4em;
    }

    .cep_botao button {
        width: 40%;
        margin-left: 7%;
    }

    .cep_botao input {
        width: 14em;
    }

    .cadastro select {
        width: 13em;
        height: 4em;
    } */
}