@import url(/css/Style.css);
@import url(/css/Paginas/Menu.css);
@import url(/css/datatables.css);

main {
    background-image: url(/assets/Fundo.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cor-fontebranca);
}

.geral {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
}

.timeline {
    width: 50em;
    margin: auto;
}

.cadastro {
    background-color: var(--principal-rgba);
    width: 55em;
    height: 38em;
    padding: 1.5em 2em .4em 2em;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo_cadastro {
    color: var(--cor-fontebranca);
    font-size: 23px;
    width: 100%;
    gap: 100px;
}

.titulo_cadastro h1 {
    padding: .1em;
}

.cadastro hr {
    border-width: 0.1em;
    border-color: var(--cor-fontebranca);
    border-style: solid;
    border-radius: 5px;
}

.input {
    display: flex;
    gap: 22em;
}

.cadastro select {
    background-color: var(--cor-fundo);
    width: 13em;
    height: 2.8em;
    font-size: 16px;
    padding-left: .8em;
    border-radius: 10px;
}

.input label {
    padding-left: .4em;
}

.input input {
    background-color: var(--cor-fundo);
    width: 15em;
    height: 2.8em;
    font-size: 16px;
    padding-left: .8em;
}

.listagem_tabela {
    background-color: var(--cor-principal);
    border: 3px solid #fff;
    width: 50em;
    height: 20.5em;
    margin-top: 1em;
}

.next_button {
    position: relative;
    margin-left: 45em;
    background-color: var(--cor-websalmao);
    padding: 1.2em;
    border-radius: 50px;
}

@media screen and (min-width:1728px) {
    .timeline {
        margin-bottom: 2em;
    }
}