@import url(/css/Style.css);
@import url(/css/Paginas/Menu.css);

main {
    background-image: url(/assets/Fundo.png);
    color: var(--cor-fontebranca);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botao_voltar {
    position: absolute;
    margin-bottom: 40em;
    margin-left: 18em;
    transition: .4s;
}

.botao_voltar img:hover {
    scale: 1.1;
    transition: .4s;
}

.formulario {
    background-color: var(--principal-rgba);
    height: 33em;
    width: 55em;
    padding: 1.5em 2em;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #fff;
    display: flex;
    flex-direction: column;
}

.titulo_formulario {
    color: var(--cor-fontebranca);
    font-size: 23px;
    width: 100%;
    gap: 100px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 0 .4em;
}

.titulo_item, .titulo_fornecedor {
    display: flex;
    align-items: center;
}

.info h3 {
    margin-left: .2em;
    margin-top: .2em;
} 

.formulario hr {
    border-width: 0.1em;
    border-color: var(--cor-fontebranca);
    border-style: solid;
    border-radius: 5px;
}

.edicao {
    background-color: var(--cor-principal);
    border: 3px solid #fff;
    border-radius: 20px;
    display: flex;
    gap: 100px;
    margin-top: 1em;
    width: 100%;
    height: 22em;
    padding: .1em 2em 1em 2em;
}

.formulario_dados, .formulario_dropDown {
    margin-top: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 700;
    gap: 2em;
}

.edicao input {
    width: 100%;
    height: 2.8em;
    font-size: 16px;
    padding-left: .8em;
}

#descricao {
    height: 10em;
    resize: none;
    font-size: 16px;
    width: 100%;
    padding: .8em .8em 0em .8em;
    border: 1px solid #000;
}

.edicao select {
    width: 100%;
    height: 2.8em;
    font-size: 16px;
    padding-left: .8em;
    border-radius: 10px;
}

#tipo {
    width: 100%;
}

.botoes {
    width: 38%;
    display: flex;
    gap: 35px;
    margin-top: 1em;
}

.botao_salvar {
    background: url("/assets/icons/salvar.png") no-repeat scroll 9px 8px;
    background-color: var(--cor-websalmao);
    background-size: 1.2em;
    color: var(--cor-fontebranca);
    border-color: var(--cor-websalmao);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    padding: 0.5em;
    width: 50%;
    padding-left: 1.3em;
}

.botao_excluir {
    background: url("/assets/icons/excluir.png") no-repeat scroll 9px 8px;
    background-color: var(--cor-websalmao);
    background-size: 1.2em;
    color: var(--cor-fontebranca);
    border-color: var(--cor-websalmao);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    padding: 0.5em;
    width: 50%;
    padding-left: 1.3em;    
}

.botao_salvar:hover, .botao_excluir:hover {
    background-color: var(--cor-webazul);
    border-color: var(--cor-webazul);
    transition: .4s;
}

@media screen and (min-width:1728px) {
    .botao_voltar {
        margin-bottom: 50em;
        margin-left: 23em;
    }

    .formulario {
        width: 65em;
        height: 45em;
    }

    .titulo_formulario hr {
        border-width: .1em;
    }

    .edicao {
        height: 40em;
    }

    .edicao input {
        height: 3.6em;
    }

    .formulario_dados, .formulario_dropDown {
        gap: 30px;
    }

    #descricao {
        height: 12em;
    }

    #tipo {
        width: 60%;
    }

    .edicao select {
        height: 3.6em;
    }
}